<div class="row mt-5">
  <div class="col-lg-2"></div>
  <div class="row mb-5 h3">Zones details</div>
  <div class="accordion col-lg-6 mt-5" id="accordionExample">
    <div class="card" *ngFor="let zone of zones; index as i">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <div class="btn-toolbar mb-3 justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
            <button class="btn btn-link collapsed" type="button" [hidden]="edit && editIndex == i"
              data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              {{zone.name}}
            </button>
            <div class="input-group" [hidden]="!edit || editIndex != i">
              <input type="text" class="form-control" placeholder="Input group example" aria-label="Input group example"
                [(ngModel)]="newZoneName" aria-describedby="btnGroupAddon">
            </div>
            <div class="btn-group mr-2 float-right" role="group" aria-label="First group"
              [hidden]="edit && editIndex == i">
              <button type="button" class="btn btn-success" (click)="triggerEdit(zone, i)">Edit</button>
              <button type="button" class="btn btn-danger" (click)="delete(zone)">Delete</button>
            </div>
            <div class="btn-group float-right col-lg-4" role="group" [hidden]="!edit || editIndex != i"
              aria-label="Basic example">
              <button type="button" class="btn btn-primary" (click)="submitEdit(zone)">Ok</button>
              <button type="button" class="btn btn-light" (click)="cancelEdit()">Cancel</button>
            </div>
          </div>
        </h2>
      </div>
      <div id="collapseTwo" [ngClass]="'collapse' + shouldShow(zone, i)" aria-labelledby="headingTwo"
        data-parent="#accordionExample">
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="card-body col-lg-10">
            <div class="row pb-2 pt-2 border bg-light">
              <div class="col-lg-2 custom-control custom-checkbox" align="left">
                <input type="checkbox" [attr.id]="selectAllStations" name="asds" [(ngModel)]="selectAllStations"
                  (change)="toggleAllStations(zone.stations)" />
              </div>
              <div class=" col-lg-6" align="left">Select All stations</div>
            </div>
            <div class="row pb-2 pt-2 border bg-light" *ngFor="let station of zone.stations">
              <div class="col-lg-6 custom-control custom-checkbox" align="left">
                <input type="checkbox" [attr.id]="station.selected" name="{{station.name}}"
                  [(ngModel)]="station.selected" (click)="toggleStation(station)"/>
              </div>
              <div class=" col-lg-6" align="left">{{station.name}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="row mt-5">
  <div class="col-lg-3"></div>
  <div id="zones-part" class="content col-lg-6" role="tabpanel" aria-labelledby="zones-part-trigger">
    <div class="row mb-4">Stations</div>
    <div class="form-group">
      <div class="row mb-4">
        <div class="pl-4 col-lg-4" align="left">Name</div>
        <div class="pl-4 col-lg-4" align="left">Zone</div>
      </div>
      <div class="row pb-2 pt-2 border bg-light" *ngFor="let zone of zones | async; index as i">
        <div class="pl-4 col-lg-4" [hidden]="edit && editIndex == i" align="left">{{station.name}}</div>
        <input class="pl-4 col-lg-4" [hidden]="!edit || editIndex != i" [(ngModel)]="newStationName">
        <div *ngIf="station.zoneName" class="pl-4 col-lg-4" align="left">{{station.zoneName}}</div>
        <div *ngIf="!station.zoneName" class="pl-4 col-lg-4" align="left"></div>
        <div class="btn-group float-right col-lg-4" role="group" [hidden]="edit && editIndex == i" aria-label="Basic example">
          <button type="button" class="btn btn-success" (click)="triggerEdit(station, i)">Edit</button>
          <button type="button" class="btn btn-danger" (click)="delete(station)">Delete</button>
        </div>
        <div class="btn-group float-right col-lg-4" role="group" [hidden]="!edit || editIndex != i" aria-label="Basic example">
          <button type="button" class="btn btn-primary" (click)="submitEdit(station)">Ok</button>
          <button type="button" class="btn btn-light" (click)="cancelEdit()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div> -->