<!--The content below is only a placeholder and can be replaced.-->
<div [ngClass]="'d-flex ' + toggled" id="wrapper">

  <!-- Sidebar -->
  <div *ngIf="(currentUser | async)?.role == 'ADMIN'" class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">BoatyMcBoatface</div>
    <div class="list-group" style="padding: 0px;">
      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" style="padding: 0px;">
        <ngb-panel title="Tickets" type="light" style="padding: 0px;">
          <ng-template ngbPanelContent style="padding: 0px;">
            <div class="list-group" style="padding: 0px;">
              <a *ngIf="(currentUser | async)?.role == 'ADMIN'" href="admin/tickets/add" class="list-group-item list-group-item-action bg-light">Add new ticket
                definition</a>
              <a href="tickets" class="list-group-item list-group-item-action bg-light">View tickets</a>
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="Stations" type="light" style="padding: 0px;">
          <ng-template ngbPanelContent style="padding: 0px;">
            <div class="list-group" style="padding: 0px;">
              <a href="/admin/stations/add" class="list-group-item list-group-item-action bg-light">Add new station
                definition</a>
              <a href="/admin/stations" class="list-group-item list-group-item-action bg-light">View/Edit stations</a>
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="Zones" type="light" style="padding: 0px;">
          <ng-template ngbPanelContent style="padding: 0px;">
            <div class="list-group" style="padding: 0px;">
              <a href="/admin/zones/add" class="list-group-item list-group-item-action bg-light">Add new zone
                definition</a>
              <a href="/admin/zones" class="list-group-item list-group-item-action bg-light">View/Edit zones</a>
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="Lines" type="light" style="padding: 0px;">
          <ng-template ngbPanelContent style="padding: 0px;">
            <div class="list-group" style="padding: 0px;">
              <a href="/admin/lines/add" class="list-group-item list-group-item-action bg-light">Add new line
                definition</a>
              <a href="/admin/lines" class="list-group-item list-group-item-action bg-light">View/Edit lines</a>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
    <!-- <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Shortcuts</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
      </div> -->
  </div>
  <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button *ngIf="(currentUser | async)?.role == 'ADMIN'" type="button" id="menu-toggle" class="btn btn-light" (click)="toggleSideMenu()">
                <span id="menu-toggle-icon" [ngClass]="'fa fa-lg ' + sideMenuIconClass"></span>
            </button>

            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li *ngIf="authService.isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="/payments">Cards</a>
                </li>
                <li *ngIf="authService.isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="/payments/new">Register card</a>
                </li>
                <li *ngIf="authService.isAuthenticated()" class="nav-item">
                    <a class="nav-link"href="/tickets">Tickets</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li *ngIf="authService.isAuthenticated()"  class="nav-item">
                    <span class="navbar-text">
                        Hello, {{(currentUser | async)?.username}}
                    </span>
                </li>
                <li *ngIf="authService.isAuthenticated() && (cardPage | async)?.totalElements > 0" class="nav-item">
                    <button (click)="modalService.open(topUpModal)" data-target="#topUpModal" class="btn btn-outline-primary ml-2">Account balance: {{(currentUser | async)?.balance}}</button>
                </li>
                <li *ngIf="authService.isAuthenticated()" class="nav-item">
                    <button (click)="authService.logout()" class="btn btn-outline-danger ml-2">Logout</button>
                </li>
                <li *ngIf="!authService.isAuthenticated()" class="nav-item">
                    <a  class="nav-link" href="/login">Login</a>
                </li>
                <li *ngIf="!authService.isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="/signup">Signup</a>
                </li>
            </ul>
        </nav>

        <ng-template #topUpModal let-modal>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Top-up Account</h5>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="topUpForm" (ngSubmit)="onTopUp(); modal.dismiss()" class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" formControlName="amount" type="number" placeholder="Amount" aria-label="amount">
                        <select class="form-control mr-sm-2" formControlName="card">
                            <option *ngFor="let card of (cardPage | async)?.content" value="{{card.id}}">{{card.cardNumber}}</option>
                        </select>
                        <button class="btn btn-outline-success my-2 my-sm-0 mr-sm-2">Top-Up</button>
                    </form>
                </div>
            </div>
        </ng-template>
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
