<!--The content below is only a placeholder and can be replaced.-->
<div [ngClass]="'d-flex ' + toggled" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Start Bootstrap</div>
    <div class="list-group" style="padding: 0px;">
      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" style="padding: 0px;">
        <ngb-panel title="Tickets" type="light" style="padding: 0px;">
          <ng-template ngbPanelContent style="padding: 0px;">
            <div class="list-group" style="padding: 0px;">
              <a href="#" class="list-group-item list-group-item-action bg-light">Buy ticket</a>
              <a href="admin/tickets/add" class="list-group-item list-group-item-action bg-light">Add new ticket
                definition</a>
              <a href="#" class="list-group-item list-group-item-action bg-light">View/Edit tickets</a>
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="Stations" type="light" style="padding: 0px;">
          <ng-template ngbPanelContent style="padding: 0px;">
            <div class="list-group" style="padding: 0px;">
              <a href="/admin/stations/add" class="list-group-item list-group-item-action bg-light">Add new station
                definition</a>
              <a href="/admin/stations" class="list-group-item list-group-item-action bg-light">View/Edit stations</a>
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="Zones" type="light" style="padding: 0px;">
          <ng-template ngbPanelContent style="padding: 0px;">
            <div class="list-group" style="padding: 0px;">
              <a href="/admin/zones/add" class="list-group-item list-group-item-action bg-light">Add new zone
                definition</a>
              <a href="/admin/zones" class="list-group-item list-group-item-action bg-light">View/Edit zones</a>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
    <!-- <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Shortcuts</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
      </div> -->
  </div>
  <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button *ngIf="authService.isAuthenticated()" type="button" id="menu-toggle" class="btn btn-light" (click)="toggleSideMenu()">
                <span id="menu-toggle-icon" [ngClass]="'fa fa-lg ' + sideMenuIconClass"></span>
            </button>

            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li *ngIf="authService.isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="/payments">Cards</a>
                </li>
                <li *ngIf="authService.isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="/payments/new">Register card</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li *ngIf="authService.isAuthenticated()" class="nav-item">
                    <div *ngIf="currentUser != null">
                        <span class="navbar-text">
                            Hello, {{currentUser.username}} | Account balance: {{currentUser.balance}}
                        </span>
                    </div>
                </li>
                <li *ngIf="authService.isAuthenticated()" class="nav-item">
                    <a (click)="authService.logout()" class="nav-link" href="/logout">Logout</a>
                </li>
                <li *ngIf="!authService.isAuthenticated()" class="nav-item">
                    <a  class="nav-link" href="/login">Login</a>
                </li>
                <li *ngIf="!authService.isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="/signup">Signup</a>
                </li>
            </ul>
        </nav>

        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
